:root {
    --font-sans: Inter, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    /* stylelint-disable-line value-keyword-case */
    --font-serif: Lora, Times, serif;
    /* stylelint-disable-line value-keyword-case */
    --color-primary-text: var(--color-black);
    --color-darker-gray: var(--color-black);
    --head-nav-gap: 3.2rem;
}

.navbar-brand {
    font-size: 1.4rem;
    font-weight: 700;
    letter-spacing: -.02em;
}

.pt-7 {
    padding-top: 7rem;
}

.p-7 {
    padding: 8rem;
}

.fw-600 {
    font-weight: 600;
}