{{ define "main" }}
	<div class="container">

		{{ .Content }}


		{{ range site.RegularPages }}

			<div class="py-4 mb-3">
				<h6 class="display-6 fw-bold">
					<a class="text-black text-decoration-none" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
				</h6>
				<p class="mb-2">{{ .Summary }}</p>

				<p class="small">
					<span class="text-danger fw-600">{{ .Date.Format "Jan 02, 2006" }}</span>
					&mdash;
					{{
            .ReadingTime }}
					MIN READ</p>
			</div>
		{{ end }}


	</div>


	{{ range .Pages }}

		<div class="p-3 py-4 mb-3 text-white rounded bg-dark">
			<h6 class="display-6 fw-bold">
				<a class="text-black text-decoration-none" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
			</h6>
			<p class="mb-2">{{ .Summary }}</p>

			<p class="small">
				<span class="text-danger fw-600">{{ .Date.Format "Jan 02, 2006" }}</span>
				&mdash;
				{{
            .ReadingTime }}
				MIN READ</p>
		</div>
	{{ end }}


{{ end }}
